*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  .input_container{
    display: inline-block;
    text-align: center;
  }
  .awsome_input{
    padding: 5px 10px;
    border: none;
    background: transparent;
    display: block;
  }
  .awsome_input_border{
    display:inline-block;
    width:0px;
    height: 2px;
    background: #FEC938;
    position: relative;
    top:-5px;
    -webkit-transition: all ease-in-out .15s;
    -o-transition: all ease-in-out .15s;
    transition: all ease-in-out .15s;
  }
  .awsome_input:hover,
  .awsome_input:active, 
  .awsome_input:focus{
    outline: none;
  }
  .awsome_input:hover+.awsome_input_border,
  .awsome_input:active+.awsome_input_border, 
  .awsome_input:focus+.awsome_input_border{
    width:100%;
    
  }
  
  
  /* buttons */
  .buttons {
    top: 0;
    left: 0;
    transition: all 0.15s linear 0s;
    position: relative;
    display: inline-block;
    padding:2px;
    background-color: #fff;
    color: #404040;
    /* border-radius: 50%; */
    font-family: arial;
    letter-spacing: 1px;
    box-shadow: -6px 6px 0 #404040;
    text-decoration: none;
  }
  .buttons:hover {
    top: 3px;
    left: -3px;
    box-shadow: -3px 3px 0 #404040;
  }
  .buttons:hover::after {
    top: 1px;
    left: -2px;
    width: 4px;
    height: 1px;
  }
  .buttons:hover::before {
    bottom: -2px;
    right: 1px;
    width: 4px;
    height: 1px;
  }
  .buttons::after {
    transition: all 0.15s linear 0s;
    content: "";
    position: absolute;
    top: 2px;
    left: -4px;
    width: 8px;
    height: 3px;
    background-color: #404040;
    transform: rotate(45deg);
    z-index: -1;
  }
  .buttons::before {
    transition: all 0.15s linear 0s;
    content: "";
    position: absolute;
    bottom: -4px;
    right: 2px;
    width: 8px;
    height: 3px;
    background-color: #404040;
    transform: rotate(45deg);
    z-index: -1;
  }
  
  a.buttons {
    position: relative;
  }
  
  a:active.buttons {
    top: 6px;
    left: -6px;
    box-shadow: none;
  }
  a:active.buttons:before {
    bottom: 1px;
    right: 1px;
  }
  a:active.buttons:after {
    top: 1px;
    left: 1px;
  }
  
  
  
  /* Scroll Bar */
  /* width */
  ::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }